# Build files
cache
out*
typechain
dist

# Ignores development broadcast logs
/broadcast/*
/broadcast/*/31337/

# Don't ignore run-latest.json
!/broadcast/run-latest.json

# Node

node_modules
.env

# Code coverage artifacts
lcov.info
/coverage/*
node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

