# Build files
cache
out*
typechain
dist
interfaceIds.json

# Ignores development broadcast logs
/broadcast/*
/broadcast/*/31337/

# Don't ignore run-latest.json
!/broadcast/run-latest.json

# Node

node_modules
.env

# Code coverage artifacts
lcov.info
/coverage/*